html{
	padding: 0;
	margin: 0;
	height: 100%;
	}
#wrapper{
	min-height: 100%;
	position: relative;
}	
#header{
	height: 50px;
	padding: 10px;
	text-align: center;
}
#content{
	padding-bottom: 70px;
	text-align: center;
}
#slog{
	position: absolute;
	left: 225px;
	top: 60px;
	font-style: italic;
	font-size: x-small;
}
.navbar{
	border-radius: 0;
 }
.navbar-brand{
	font-family: 'Satisfy', cursive;
}
.connect{
	position: absolute; 
	right: 90px;
	top: 30px;
}
.inscript{
	position: absolute; 
	right: 250px;
	top: 30px;
}
.text{
	position: relative;
	top: 450px;
}
.descp, #logo{
	text-align: center;
}
#logo img{
	border: 1px solid #181818;
}
.boutiq1 {
    float: left;
    width: 150px;
    border: 1px solid black;
}
.detboutiq{
    margin-left: 170px;
    border: 1px solid blue;
}