<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}inscription{% endblock %} </title>
     <!-- load the path to your static files -->
    {% load static %}
     <link rel="icon" href="{% static 'ahnata/favico/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ahnata/bootstrap4/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'ahnata/styles/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ahnata/styles/album.css' %}" />
</head>
<body>
<header>
  <div>
    <img src="{% static 'ahnata/images/nata6.png' %}" alt="mon logo">
    <p id="slog">Faire Mieux que tous</p>
  </div>
   {% if user.is_authenticated %}
     <p style="color: green; position: absolute; margin-left: 600px; top: 0px; margin-top: 0;">Hi {{user.username}} !</p>
    <nav>
     <ul class="inscript"><a href="{% url 'ahnata:logout' %}"><button type="button" class="btn">SE DECONNECTER</button></a></ul></nav>
  {% else %}
    <nav>
     <ul class="inscript"><a href="{% url 'ahnata:login' %}"><button type="button" class="btn">SE CONNECTER</button></a></ul></nav>
  {% endif %} 
  <nav>
     <ul class="connect"><a href="{% url 'ahnata:contact'  %} "><button type="button" class="btn btn-info">ECRIVEZ-NOUS !</button></a>
     </ul>
  </nav>
</header>  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="{% url 'ahnata:index' %}">Accueil</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'ahnata:articles' %}">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'ahnata:descript' %}">Qui Sommes-Nous ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'ahnata:post' %}">Notre Forum</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
<main>
 {% block body %}
 {% endblock %}
</main>
  <div class="footer">
    <p class="footer-copyright text-center py-3">&copy; 2017-2018 Totobhe Etoile</p>
    <ul class="foot">
       <li>Pays<br><p>Guinée Conakry</p></li>
       <li>Ville<br><p>Conakry</p></li>
       <li>adresse<br><p>Marché Madina au CCF, boutique N°35</p></li>
    </ul>
  </div> 
</body>   
</html> 